# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\What about projects\IntIdeaProjects\Load_data_on_table\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
